<%= form_for(@listing, :html => { :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="stripe_error" class="alert alert-danger" style="display:none"> 
    <noscript>Javascript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div class="form-group col-md-7">
    <%= f.label :name, "*Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-md-12"></div>

  <div class="form-group col-md-2">
    <%= f.label :subject, "*Subject" %>
    <%= f.select(:subject, [['AAS'], ['AFS'], ['AMS'], ['ANT'], ['AOS'], ['APC'], ['ARA'], ['ARC'], ['ART'], ['AST'], ['ATL'], ['BCS'], ['CBE'], ['CEE'], ['CHI'], ['CHM'], ['CHV'], ['CLA'], ['CLG'], ['COM'], ['COS'], ['CWR'], ['CZE'], ['DAN'], ['EAP'], ['EAS'], ['ECO'], ['ECS'], ['EEB'], ['EGR'], ['ELE'], ['ENE'], ['ENG'], ['ENV'], ['EPS'], ['FIN'], ['FRE'], ['FRS'], ['GEO'], ['GER'], ['GHP'], ['GLS'], ['GSS'], ['HEB'], ['HIN'], ['HIS'], ['HLS'], ['HOS'], ['HUM'], ['ISC'], ['ITA'], ['JDS'], ['JPN'], ['JRN'], ['KOR'], ['LAO'], ['LAS'], ['LAT'], ['LIN'], ['MAE'], ['MAT'], ['MED'], ['MOD'], ['MOG'], ['MOL'], ['MSE'], ['MUS'], ['NES'], ['NEU'], ['ORF'], ['PAW'], ['PER'], ['PHI'], ['PHY'], ['PLS'], ['POL'], ['POP'], ['POR'], ['PSY'], ['QCB'], ['REL'], ['RES'], ['RUS'], ['SAS'], ['SLA'], ['SML'], ['SOC'], ['SPA'], ['STC'], ['SWA'], ['THR'], ['TPP'], ['TRA'], ['TUR'], ['TWI'], ['URB'], ['URD'], ['VIS'], ['WRI'], ['WWS']], {}, {class: "form-control"}) %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :number, "*Number" %>
    <%= f.text_field :number, class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= f.label :condition, "*Condition" %>
    <%= f.select(:condition, [['Acceptable'], ['Good'], ['Very Good'], ['Like New']], {}, {class: "form-control"}) %>
  </div>
  <div class="form-group col-md-7">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="col-md-12"></div>

  <div class="form-group col-md-7">
    <%= f.label :price, "*Price" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="col-md-12"></div>

  <div class="form-group col-md-7">
  <%= f.label :image, "*Image" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <% if current_user.recipient.blank? || (request.fullpath != "/listings/new") %>
    <br>
    <h1 class="col-md-12">Bank Account Information</h1>

    <div class="form-group col-md-2">
      <%= label_tag :country, "*Country (e.g. US)" %>
      <%= text_field_tag :country, nil, { :name => nil, :'data-stripe' => "country", class: "form-control" } %>
    </div>
    <div class="form-group col-md-5">
      <%= label_tag :routing_number, "*Routing Number" %>
      <%= text_field_tag :routing_number, nil, { :name => nil, :'data-stripe' => "routingNumber", class: "form-control" } %>
    </div>
    <div class="form-group col-md-7">
      <%= label_tag :account_number, "*Account Number" %>
      <%= text_field_tag :account_number, nil, { :name => nil, :'data-stripe' => "accountNumber", class: "form-control" } %>
    </div>
  <% end %>

  <div class="form-group col-md-12 left">
    <%= f.submit class: "btn btn-primary" %>
  </div>


<% end %>