<style>
.navbar-default {
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
</style>

<div class="jumbotron">
  <h1>ECHTchange</h1>
  <h2>Your source for trading textbooks in Princeton</h2>
</div>

<div id="indexlist" class="col-xs-5 col-sm-3 col-md-2 left">
  <ul class="nav nav-pills nav-stacked"> 
    <li><%= link_to "About Us", pages_about_path %></li>
    <li><%= link_to "Get Started", pages_getstarted_path %></li>
  </ul>
</div>

<br>

<div id="listingdisplay" class="col-xs-7 col-sm-9 col-md-10">
  <div class="row">
    <% @listings.each do |listing| %>
      <% if listing.sold == false %>
        <div class="col-xs-4 col-sm-4 col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing %>
            <div class="caption">
              <h3><%= listing.name %></h3>
              <h3><%= "#{listing.subject} #{listing.number}" %></h3>
              <p><%= "Condition - #{listing.condition}" %></p>
              <p><%= number_to_currency(listing.price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>
