<style>
.navbar-default {
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59372210-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="jumbotron">
  <h1>ECHTchange</h1>
  <h2>(ĕktschānj)</h2>
  <p style="font-style: italic">&nbspverb</p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp To trade items through </p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp an "Echt" (ĕkt) or honest and authentic manner.</p>
  <p>&nbsp</p>
  <h2>Announcement: Sold/Bought emails may be in your spam folder.</h2>
</div>

<div id="indexlist" class="col-xs-5 col-sm-3 col-md-2 left">
  <ul class="nav nav-pills nav-stacked"> 
    <li><%= link_to "About Us", pages_about_path %></li>
    <li><%= link_to "Get Started", pages_getstarted_path %></li>
  </ul>
</div>

<br>

<div id="listingdisplay" class="col-xs-7 col-sm-9 col-md-10">
  <div class="row">
    <% @listings.each do |listing| %>
      <% if listing.sold == false %>
        <div class="col-xs-4 col-sm-4 col-md-2">
          <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing %>
            <div class="caption">
              <h3><%= listing.name %></h3>
              <h3><%= "#{listing.subject}" %></h3>
              <!--<p><%= "Condition - #{listing.condition}" %></p>-->
              <p><%= number_to_currency(listing.price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>
