<style>
.navbar-default {
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
</style>

<div class="jumbotron">
  <h1>Buy and Sell Textbooks</h1>
  <h2>Your source for trading textbooks in Princeton</h2>
</div>

<div class="col-md-2 left">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Get Started", pages_getstarted_path %></li>
    <li><%= link_to "About", pages_about_path %></li>
    <li><%= link_to "Contact", pages_contact_path %></li>
  </ul>
</div>

<div class="col-md-10">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

